<!DOCTYPE html>
<html>
  <head>
    <title>WikiMap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/_head') %>
    <script src="../scripts/map-functions.js"></script>
    <script src="../scripts/editor-functions.js"></script>
    <script src="../scripts/favorite-functions.js"></script>
    <script src="../scripts/my-maps-functions.js"></script>
    <script src="../scripts/javaScript.js"></script>
    <link rel="stylesheet" href="../styles/maps.css">
  </head>
  <body>
    <%- include('partials/_nav-bar') %>
    <input type="hidden" id="userCanEdit" style="display: none" value="<% if (userCanEdit) { %>true<% } else { %>false<% } %>">
    <div class="container-fluid">
      <div class="row gap-2">
        <div class="col-1 rounded map-container" id="map" data-mapId="<%= mapId %>"></div>
        <div class="col px-2 py-4">
          <div class="row rounded border px-2 py-2 map-information-container">
            <form class="row gap-2" id="mapInfo">
              <input class="row" type="hidden" name="id" value="<%= mapId %>">
              <div class="row align-items-center">
                <div class="row-xl col-md-2">
                  <img class="map-thumbnail img-thumbnail" style="max-width: 100px;">
                </div>
                <div class="row-xl col-md-8">
                  <input class="form-control form-control-lg fs-1" type="text" name="title" placeholder="Title"
                  <% if (!userCanEdit) { %>
                    readonly
                  <% } %>
                  />
                </div>
                <div class="row-xl col-md-2 favorite-container fs-4">
                  <% if (mapInfo && mapInfo.favorite_count >= 0) { %>
                    <span><button type="button" class="btn btn-sm btn-info-outline favoriteToggle" data-mapId="<%= mapId %>">
                      <i class="fa fa-heart favorite-indicator
                      <% if (mapInfo.isUserFavorite) { %>
                      favorited
                      <% } %>"></i></span>
                    <span class="favorite-count"> &nbsp<%= mapInfo.favorite_count %> </span>
                  <% } %>
                  <% if (userOwnsMap) { %>
                    <span>
                      <button type="button" class="btn btn-sm btn-danger deleteMap" data-mapId="<%= mapId %>"><i class="fa-solid fa-trash"></i></button>
                    </span>
                  <% } %>
                </div>
              </div>
              <div class="row">
                <input class="form-control form-control-lg" type="text" name="description" placeholder="description"
                <% if (!userCanEdit) { %>
                  readonly
                <% } %>
                />
              </div>
              <div class="row">
                <div class="col">
                  <input class="form-control" type="text" name="thumbnail_photo" placeholder="URL of image"
                  <% if (!userCanEdit) { %>
                    readonly
                  <% } %>
                  />
                </div>
                <div class="col">
                  <% if (userCanEdit) { %>
                  <button class="btn btn-primary" type="button" id="saveMap">Save Map</button>
                  <% } %>
                </div>
              </div>
            </form>
            <% if (userId && mapId > 0 && userOwnsMap) { %>
            <div class="row pt-2 justify-content-start">
              <div class="col">
                <select class="form-select" aria-label="Default select example" id="mapEditors">
                  <option value="0">Select Editor</option>
                  <% for (const user in users) { %>
                    <option value="<%= users[user].id %>"><%= users[user].username %></option>
                  <% } %>
                </select>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary addEditor">Add Editor</button>
              </div>
            </div>
            <% } %>
            <% if (mapInfo && mapInfo.editors.length > 0) { %>
            <div class="row">
              <div class="col-4 fs-5 list-group map-editor-list">
                <h6>Map contributors</h6>
                <% for (const editor in mapInfo.editors) { %>
                  <div class="rounded list-group-item list-group-item-action" style="display: flex; justify-content: space-between;">
                    <a href="/users/<%= mapInfo.editors[editor].id %>" target="_blank" style="width: 100%; text-decoration: unset; color: #212529;"><%= mapInfo.editors[editor].username %></a>
                    <% if (userOwnsMap) { %>
                      <button class="btn btn-sm btn-danger removeEditor" data-editorId="<%= mapInfo.editors[editor].id %>">X</button>
                    <% } %>
                  </div>
                <% } %>
              </div>
            </div>
            <% } %>
            <form class="row py-2 rounded border mt-2" id="markerInfo">
              <div class="row">
                <div class="col"><i class="fa-solid fa-location-dot"></i> Pin Info</div>
                <div class="col">
                  <input class="form-control form-control-sm" type="hidden" name="id" placeholder="0" />
                </div>
              </div>
              <div class="row pt-1">
                <div class="col pe-1">
                  <input class="form-control form-control-sm" type="text" name="title" placeholder="Title"/>
                </div>
                <div class="col ps-1">
                  <input class="form-control form-control-sm" type="text" name="description" placeholder="description"/>
                </div>
              </div>
              <div class="row pt-1">
                <div class="col pe-1">
                  <input class="form-control form-control-sm" type="text" name="latitude" />
                </div>
                <div class="col ps-1">
                  <input class="form-control form-control-sm" type="text" name="longitude" />
                </div>
              </div>
              <div class="row pt-1">
                <div class="col pe-1">
                  <input class="form-control form-control-sm" type="text" name="image" placeholder="Image URL">
                </div>
                <div class="col ps-1">
                  <button class="btn btn-primary btn-sm" type="button" id="savePinData">Save Pin</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
